*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body{
    background-color: chartreuse;
}

nav{
    background-color: aqua;
    padding: 1%;
}

h1{
    background-color: red;
    color: rgb(9, 126, 58);
}



.super-mega-rosso-cool{
    background-color: red;
    color: blue;
}

.allineamento-dx-leggero{
    text-align:right;
    font-weight: 100;
}


.giornata-uggiosa{
    color: rgb(99, 138, 141);
    text-align: left;
    font-size: xx-large;
}

.container{
    display: flex;
    background-color: chartreuse;
}

.container2{
    background-color:blueviolet;
}




